# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# test results
integration-test-ui

# Ignore the symlink ".editorconfig" from the @immowelt/styleguide-javascript package.
.editorconfig

# Ignore the symlink ".prettierrc" from the @immowelt/styleguide-javascript package.
.prettierrc
